<table class="wiki_pages">
  <thead>
    <tr>
      <th>Title</th>
      <th>Last modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @wiki_pages.each do |wiki_page| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= h wiki_page.title %></td>
        <td><%= wiki_page.updated_at.to_s(:long) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
