<% form_for(@wiki_page, :url => wiki_page_path(:id => @wiki_page)) do |form| %>
  <%= render :partial => form %>

  <div class="operations">
    <%= form.submit 'Update' %> |
    <%= render :partial => 'form_operations' %>
  </div>
<% end %>

<div id="preview">
  <%= render @wiki_page %>
</div>