<% form_for(@wiki_page) do |form| %>
  <%= render :partial => form %>

  <div class="operations">
    <%= form.submit 'Update' %> |
    <%= link_to 'Preview', preview_new_wiki_page_path, :class => 'wiki_preview_trigger' %> |
    <%= link_to 'Index', wiki_pages_path %>
  </div>
<% end %>
